$MainColor : green;
$MainColor2  : orange ;

.container {
    padding: 80px 120px;
  }
  
  .person {
    border: 10px solid transparent;
    margin-bottom: 25px;
    width: 80%;
    height: 80%;
    opacity: 0.7;
    &:hover {
      border-color: #f1f1f1;
    }
  }
  
  .carousel-inner img {
    -webkit-filter: grayscale(90%);
    filter: grayscale(90%); 
    width: 100%;
    margin: auto;
  }
  
  .carousel-caption h3 {
    color: #fff !important;
  }
  
  @media (max-width: 600px) {
    .carousel-caption {
      display: none;
    }
  }
    
  .navbar {
    margin-bottom: 0;
    background-color: $MainColor;
    border: 0;
    font-size: 11px !important;
    letter-spacing: 4px;
    opacity: 0.9;
    li a, .navbar-brand {
      color: #d5d5d5 !important;
    }
  }
  
  
  .navbar-nav li {
    a:hover {
      color: #fff !important;
    }
    &.active a {
      color: #fff !important;
      background-color: pink !important;
    }
  }
  
  .navbar-default .navbar-toggle {
    border-color: transparent;
  }
  .open .dropdown-toggle {
    color: #fff;
    background-color: $MainColor !important;
  }

  .dropdown-menu li a {
    color:$MainColor !important;
    &:hover {
      background-color: red !important;
    }
  }
  
  footer {
    background-color: $MainColor;
    color: #f5f5f5;
    padding: 32px;
    & + checked{
      background: orange;

    }
    a {
      color: #f5f5f5;
      &:hover {
        color: #777;
        text-decoration: none;
      }
    }
  }
  
  .modalDialog {
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: $MainColor;
    z-index: 99999;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    display: none;
    pointer-events: none;
    &:target {
      display: block;
      pointer-events: auto;
    }
    > div {
      width: 400px;
      position: relative;
      margin: 10% auto;
      padding: 5px 20px 13px 20px;
      border-radius: 10px;
      background: #fff;
      background: -moz-linear-gradient(#fff, #999);
      background: -webkit-linear-gradient(#fff, #999);
      background: -o-linear-gradient(#fff, #999);
    }
  }
  
  .close {
    background: white;
    color: #FFFFFF;
    line-height: 25px;
    position: absolute;
    right: -12px;
    text-align: center;
    top: -10px;
    width: 24px;
    text-decoration: none;
    font-weight: bold;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    -moz-box-shadow: 1px 1px 3px #000;
    -webkit-box-shadow: 1px 1px 3px #000;
    box-shadow: 1px 1px 3px #000;
    &:hover {
      background: #00d9ff;
    }
  }

  .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    input {
      opacity: 0;
      width: 0;
      height: 0;
    }
  }
  
  
  .slider {
    position : absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    &:before {
      position: absolute;
      content: "";
      height: 26px;
      width: 26px;
      left: 4px;
      bottom: 4px;
      background-color: white;
      -webkit-transition: .4s;
      transition: .4s;
    }
  }

  input {
    &:checked {
      + .slider {
        background-color: #2196F3;
      }
      
    }
    &:focus + .slider {
      box-shadow: 0 0 1px #2196F3;
    }
    &:checked + .slider:before {
      -webkit-transform: translateX(26px);
      -ms-transform: translateX(26px);
      transform: translateX(26px);
    }
  }

  
  .slider.round {
    border-radius: 34px;
    &:before {
      border-radius: 50%;
    }
  }